#Container{
    height: 800px;
    width: 100%;
    background-color: purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 
    
   
}
#HeadContainer{
    height: 150px;
    width: 100%;
    background-color: aqua;  
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#SecondContainer{
    height: 200px;
    width: 76%;
    background-color: powderblue;
    margin-left: 5px;
  
}

.Boxes{
    height: 300px;
    width: 300PX;
    background-color: #808080;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
   
   
}

#Box{
    height: 550px;
    width: 22.9%;
    background-color: azure;
    margin-bottom: 5px ;
    margin-left: 5px;
    display: flex;
}