#Container{
    height: 800px;
    width: 100%;
    background-color: purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
   
}
#HeadContainer{
    height: 150px;
    width: 100%;
    background-color: aqua;  
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

#SecondContainer{
    height: 150px;
    width: 80%;
    background-color: powderblue;
    margin-left: 5px;
  
}

.Boxes{
    height: 150px;
    width: 150px;
    background-color: grey;
    margin-bottom: 5px ;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
   
}

#ThirdContainer{
    height: 300px;
    width: 200px;
    background-color: steelblue;
   
   
  
   
}