body {
  font-family: 'Great Vibes', cursive; 
  overflow: hidden; 
  background: linear-gradient(to top, #a9a9a9, #808080, #696969, #4b4b4b);
}
#Container {
    display: flex;
    flex-direction: column;
    height: 100%; 
  }
  
  #HeadContainer {
    height: 150px;
    width: 100%;
    background: linear-gradient(to right,#e1bee7, #ce93d8, #ba68c8);


    margin: 5px 0;
    box-sizing: border-box;
    
  }
  
  #SecondContainer {
    height: 200px;
    width: 79%;
    background: linear-gradient(to left,#e1bee7, #ce93d8, #ba68c8);
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  #ContentRow {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  
  .Boxes {
    height: 350px;
    width: 25.6%; 
    background: linear-gradient(to left,#e1bee7, #ce93d8, #ba68c8);
    margin-right: 15.5px;
    margin-top: 5px;
    margin-bottom: 5px; 
    box-sizing: border-box;
  }
  
  #SideContainer {
    position: absolute;
    bottom: 1px;
    right: 9px; 
    width: 20%;
    height: 460px;
    background: linear-gradient(to bottom,#e1bee7, #ce93d8, #ba68c8);
  }
